<div style="background-color: black">
  <div style="padding: 4em">
    <h1 class="port">
      What good portfolio <br />
      management looks like
    </h1>
    <br />

    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="card" >
            <img
              src="https://www.dezerv.in/static/846c8ecbf86fee9f30e1e7e5c67c2fd4/e5a44/pms-features-1.webp"
              alt=""
            />
            <div
              class="card-content"
            >
              <h5>
                Dedicated human experts
                <p>Available on WhatsApp when you need them</p>
              </h5>
            </div>
          </div>
        </div>
        <br />
        <div class="col-md-4 col-sm-12">
          <div class="card" >
            <img
              src="https://www.dezerv.in/static/d330f20c8a9d32b2b7327044e5792934/e5a44/pms-features-2.webp"
              alt=""
            />

            <div
              class="card-content"
            >
              <h5>
                Effortless transactions
                <p>Execution and rebalancing all taken care of</p>
              </h5>
            </div>
          </div>
        </div>
        <br />
        <div class="col-md-4 col-sm-12">
          <div class="card">
            <img
              src="https://www.dezerv.in/static/cdad281be9cc137b39ae734c902677cf/e5a44/pms-features-3.webp"
              alt=""
            />

            <div
              class="card-content"
            >
              <h5>
                Migrate existing portfolio
                <p>We provide the option to manage your existing investments</p>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br /><br />
  </div>
</div>
